.scrollButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    background-color: #b67d41bd;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }
  
  .scrollButton:hover {
    background-color: gray;
  }
  
  .Scroll {
    width: 20px;
    height: 40px;
  }