.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    box-shadow: -5px 0 10px 5px rgba(155, 153, 153, 0.75);
    background-color: white;
    z-index: 4;
}

.menu {
    margin-right: 40px;
    font-weight: 200px;
}


.btn {
    background-color: white;
    border: 1px solid #f5a654;
    color: #f5a654;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 20px;
}

img {
    width: 200px;
    height: 30px;
}

.menu a {
    position: relative; /* Set position relative for the link */
    padding: 10px;
    text-decoration: none;
    color: black;
    overflow: hidden; /* Hide overflow to prevent line from showing */
}

.menu a::after {
    content: ""; /* Create an empty pseudo-element */
    position: absolute;
    left: 50%; /* Start from the center */
    bottom: 0; /* Position it at the bottom of the link */
    width: 0; /* Initial width is 0 */
    height: 2px; /* Set the height of the underline */
    background-color: #f5a654; /* Color of the underline */
    transition: width 1s ease, left 1s ease; /* Smooth transition */
}

.menu a:hover::after {
    width: 100%; /* Expand the width to full */
    left: 0; /* Move the line to start from the left */
}
